.news-card__source {
  color: #B6BCBF;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .4px;
  text-transform: uppercase;
  position: absolute;
  bottom: 24px;
  padding: 0;
  margin: 0;
}
