.news-card__text {
  margin: 16px 0 0 0;
  color: #1A1B22;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 575px) {
  .news-card__text {
    margin: 10px 0 0 0;
    -webkit-line-clamp: 4;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .news-card__text {
    margin: 10px 0 0 0;
    -webkit-line-clamp: 4;
  }
}
