@import url(__link/news-card__link.css);
@import url(__date/news-card__date.css);
@import url(__image/news-card__image.css);
@import url(__text/news-card__text.css);
@import url(__source/news-card__source.css);
@import url(__title/news-card__title.css);
@import url(__description/news-card__description.css);

.news-card {
  width: 400px;
  height: 576px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.news-card:hover{
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);
  transform: translateY(-5px);
  transition: transform ease-in .2s;
}

@media (max-width: 575px) {
  .news-card {
    width: 288px;
    height: 446px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .news-card {
    width: 224px;
    height: 420px;
  }
}
