.loading-info__text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  max-width: 344px;
  margin: 38px auto 0 auto;
}

/*.loading-info__text:last-child {*/
/*  margin: 18px auto 0 auto;*/
/*}*/
