@import url(./_submit/search__button_submit.css);

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  background: #d5d5e5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border: none;
  width: 168px;
  height: 64px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 575px) {
  .search__button {
    width: 100%;
    height: 56px;
    position: static;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .search__button {
    height: 56px;
  }
}
