.header__content {
  width: 608px;
  margin: 80px auto 0 auto;
  padding-bottom: 80px;
}

@media (max-width: 575px) {
  .header__content {
    width: 285px;
    padding-bottom: 32px;
    margin: 30px auto 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .header__content {
    width: 448px;
    padding-bottom: 48px;
  }
}
