@import url(./_bg/header_bg.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__link/_black/header__link_black.css);
@import url(./__link/_active-white/header__link_active-white.css);
@import url(./__link/_active-black/header__link_active-black.css);
@import url(./__logo/header__logo.css);
@import url(./__logo/_black/header__logo_black.css);
@import url(./__nav/header__nav.css);
@import url(./__wrap/header__wrap.css);
@import url(__wrap/_black/header__wrap_black.css);
@import url(./__content/header__content.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__item/header__item.css);

.header {
  max-width: 1440px;
  max-height: 576px;
  margin: 0 auto;
  color: #FFFFFF;
}
